<a href="https://colab.research.google.com/github/aleks-haksly/Simulative/blob/main/Other/Analysis/%D0%90%D0%BB%D1%8C%D1%84%D0%B0%20%D0%91%D0%B0%D0%BD%D0%BA%20test/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandasql import sqldf

In [ ]:
exec_query = lambda query: sqldf(query, env=globals())

In [ ]:
exec_query("SELECT * FROM df where query like '%утро%'")

  platform  hour        query  count
0  desktop     0  доброе утро      1