<a href="https://colab.research.google.com/github/aleks-haksly/Simulative/blob/main/SQL/Analitics/part_02/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import text
from sqlalchemy import create_engine
import pandas as pd
from google.colab import userdata

In [ ]:
# Подключаемся к базе postgres на https://supabase.com/
engine = create_engine(userdata.get('supabase'), client_encoding='utf8')

In [ ]:
# пишем функцию-обертку для удобного получения данных в виде pandas df
def select(sql):
    sql = text(sql)
    return pd.read_sql(sql, engine)

In [ ]:

sql = """
SELECT
  email,
  (CASE WHEN
  coalesce(first_name, '') || ' ' || coalesce(last_name, '') = ' ' then 'Дорогой друг'
  else coalesce(first_name, '') || ' ' || coalesce(last_name, '') end) AS full_name
FROM simulative.user
"""
data = select(sql)